AI-assistant/
x64/
software/
files/voice_record.wav
files/log.log
.vs/
AI-assistant.sln
AI-assistant.vcxproj
AI-assistant.vcxproj.filters
AI-assistant.vcxproj.user
files/voice_record.wav.txt
ffmpeg_output.log