AI-assistant/
x64/
software/
files/recording.wav
files/log.log
.vs/
AI-assistant.sln
AI-assistant.vcxproj
AI-assistant.vcxproj.filters
AI-assistant.vcxproj.user
files/recording.wav.txt
ffmpeg_output.log
include/curl
include/nlohmann
build/Desktop_Qt_6_9_0_shared_MinGW_w64_MINGW64_MSYS2-Debug
build/AI-assistant_autogen
